/* General Styles */
body{
  background-color: #f9f9f9;
}

/* nav styles */

nav{
  background-color: #fff;
}

.navbar-brand{
  font-size: 2rem;
}

/* Pokemon List Styles */

.pokemon-list{
  padding: none;
  list-style-type: none;
  /*-----grid fallback------*/
  display: flex;
  flex-wrap: wrap;
  /*-----grid fallback------*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  text-align: center;
  justify-content: center;
}

.list-group-item{
  display: inline-block;
  padding: 0;
  border: none;
}

.list-group-item:hover {
  background-color: #f2f2f2;
}

.list-group-item img{
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-right: 10px;
}

/*---------Responsive-------*/
@media all and (max-width: 1080px){
  .pokemon-list{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .search-list{
    grid-template-columns: 1fr;
  }
}


/*Modal Styles*/
.modal-content {
  background-color: #fff;
}

.modal-title{
  font-size: 2rem;
}

.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-height{
  font-size: 1.5rem;
  margin-top: 20px;
}

.pokemon-image{
  margin-bottom: 20px;
}
  
  .btn{
    width: 100%;
    height: 100%;
  }

  /*Footer Styles*/